PORT=
DATABASE_URL=
NODE_ENV='development | production'

#JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION='15m'
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION='7d'


# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# app secret
APP_SECRET 

#SSL Commerz
SSL_STORE_ID=
SSL_STORE_PASSWORD=
SSL_SUCCESS_URL=
SSL_FAIL_URL=
SSL_CANCEL_URL=
SSL_IPN_URL=